<p id="notice"><%= notice %></p>

<h1>
  <%= @beer_club.name %> <%= @beer_club.city %>
</h1>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<h2>Members of this club</h2>
<ul>
  <% @beer_club.confirmed_memberships.each do |m| %>
    <li><%= link_to m.user.username, m.user %></li>
  <% end %>
</ul>

<% if current_user && current_user.is_member(@beer_club) %>
    <h2>Unconfirmed members</h2>
    <ul>
      <% @beer_club.unconfirmed_memberships.each do |m| %>
        <li><%= link_to m.user.username, m.user %><%= link_to 'Confirm user',  confirm_membership_path(m.id), class: 'btn btn-default', method: :post %></li>
      <% end %>
    </ul>
<% end %>

<% if current_user %>
  <% if !@beer_club.users.exists?(current_user) %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club", class:"btn btn-primary" %>
    <% end %>
  <% else %>
    <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership", class:"btn btn-danger" %>
    <% end %>
  <% end %>
  <%= link_to 'Edit', edit_beer_club_path(@beer_club), class:"btn btn-primary" %>
<% end %>
<%= link_to 'Back', beer_clubs_path, class:"btn btn-default" %>
