<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %> and rating average is <%= @user.average_rating %>
</p>

<h2>ratings</h2>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <%= link_to 'delete', rating, method: :delete %>
      </li>
  <% end %>
</ul>

<h2>beer clubs</h2>
<ul>
  <% @user.beer_clubs.each do |club| %>
  <li><%= link_to club.name, club %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
