<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>
<% if @user.penalty %>
    <span class="label label-info">Account frozen</span>
<% end %>


<p>
  <% if @user.ratings.count > 0 %>
    <ul>
        <li>Has made <span class="label label-info"><%= pluralize(@user.ratings.count, 'rating') %></span></li>
        <li>Rating average is <span class="label label-info"><%= round(@user.average_rating) %></span></li>
        <li>Favorite beer style is <%= @user.favorite_style %></li>
        <li>Favorite brewery is <%= @user.favorite_brewery %></li>
    </ul>
  <% end %>
</p>

<h2>ratings</h2>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if rating.user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: {confirm: "Are you sure"}, class:"btn btn-danger" %>
      <% end %>
      </li>
  <% end %>
</ul>

<h2>beer clubs</h2>
<b>Member of: </b>
<ul>
  <% @user.confirmed_mships(@user.id).each do |membership| %>
    <li><%= link_to membership.beer_club.name, membership.beer_club %></li>
  <% end %>
</ul>

<b>Pending memberships:</b>
<ul>
  <% @user.unconfirmed_mships(@user.id).each do |membership| %>
      <li><%= link_to membership.beer_club.name, membership.beer_club %></li>
  <% end %>
</ul>


<% if current_user.admin == true %>
    <% if @user.penalty %>
        <%= link_to "Unfroze account", toggle_penalty_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% else %>
        <%= link_to "Froze account", toggle_penalty_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% end %>
<% end %>

<% if current_user == @user %>
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> |
    <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %> |
<% end %>
<%= link_to 'Back', users_path, class:"btn btn-default" %>
