<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<p>
  Has made <%= pluralize(@user.ratings.count, 'rating') %> and rating average is <%= @user.average_rating %>
</p>

<h2>ratings</h2>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if rating.user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: {confirm: "Are you sure"} %>
      <% end %>
      </li>
  <% end %>
</ul>

<h2>beer clubs</h2>
<ul>
  <% @user.beer_clubs.each do |club| %>
  <li><%= link_to club.name, club %></li>
  <% end %>
</ul>
<% if current_user == @user %>
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
