<p id="notice"><%= notice %></p>
<h1>Rating statistics</h1>
<div class="row">
  <div class="col-md-4">
    <h2>Top beers</h2>
    <%= render 'list', items: @top_beers%>
  </div>
  <div class="col-md-4">
    <h2>Top breweries</h2>
    <%= render 'list', items: @top_breweries%>
  </div>
  <div class="col-md-4">
    <h2>Top styles</h2>
    <%= render 'list', items: @top_styles%>
  </div>
</div>

<h2>Most active users</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>favorite beer</th>
      <th>prefered style</th>
      <th>favorite brewery</th>
      <th>ratings</th>
    </tr>
  </thead>

  <tbody>
    <% @top_users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.favorite_beer %></td>
        <td><%= user.favorite_style %></td>
        <td><%= user.favorite_brewery %></td>
        <td><span class="label label-info"><%= user.ratings.count %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Most recent ratings</h2>
<p>Number of ratings: <span class="label label-info"><%= @ratings_count %></span></p>
<ul>
  <% @recent_ratings.each do |rating| %>
    <li><%= rating.to_s %>, <%= link_to rating.user, rating.user %></li>
  <% end %>
</ul>

<br>

<% if current_user %>
    <%= link_to 'New Rate', new_rating_path, class:"btn btn-primary" %>
    <br />
    <%= link_to 'New Brewery', new_brewery_path, class:"btn btn-primary" %>
    <br />
<% end %>
<%= link_to 'list of beers', beers_path, class:"btn btn-default" %>