<p id="notice"><%= notice %></p>

<h1>List of ratings</h1>
<p>Number of ratings: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Brewery', new_brewery_path %>
<br />
<%= link_to 'list of beers', beers_path %>